.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header {
  text-align: right;
}
main h3 {
  margin: 10px 0 0 0;
}
footer,
footer a,
footer a:visited {
  color: #383e49;
  font-size: x-small;
}
footer {
  position: fixed;
  bottom: 5px;
  width: 100%;
}

.cup-container {
  width: 100vw;
  height: 40vh;
  position: relative;
  overflow: hidden;
}
.cup-container::before {
  content: "";
  position: absolute;
  background: #282c34; /*debug  #04acff; */
  width: 100%;
  top: 0;
  height: 100%;
  animation: fillerup 3s ease-out forwards;
  animation-delay: 1000ms;
}
img#cup {
  height: 40vh;
}
@keyframes fillerup {
  from {
    height: 100%;
  }

  to {
    height: 0;
  }
}
